Hello newusername,

Your account has been activated at tilde.institute! If you have any questions, 
please feel free to email the administrators at admins@tilde.institute

Important announcements will be sent via the mailing list. Your @tilde.institute
email address will receive these messages. If you wish to receive them at another
address, you can sign up here:

    https://lists.tildeverse.org/postorius/lists/institute.lists.tildeverse.org/

Don't forget to join us on IRC! The 'chat' command runs a weechat instance that
is already to set up to connect. You'll need to register your nick to speak in
the multi-tilde channel, #meta. If you prefer, irssi and ircII are also available,
but will require manual setup. Server information is available here:

    https://wiki.tilde.institute/w/irc

Regards,
the tilde.institute team

